<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>child</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>tushuchaxun</string>
				<key>name</key>
				<string>图书搜索</string>
			</dict>
			<dict>
				<key>iconName</key>
				<string>tushuluru</string>
				<key>name</key>
				<string>图书信息录入</string>
			</dict>
		</array>
		<key>name</key>
		<string>图书信息管理</string>
	</dict>
	<dict>
		<key>name</key>
		<string>角色权限管理</string>
		<key>child</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>duzhequanxian</string>
				<key>name</key>
				<string>读者管理</string>
			</dict>
			<dict>
				<key>iconName</key>
				<string>guanliyuanquanxian</string>
				<key>name</key>
				<string>员工管理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>child</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>tushuguihuan</string>
				<key>name</key>
				<string>图书归还管理</string>
			</dict>
			<dict>
				<key>iconName</key>
				<string>tushujieyue</string>
				<key>name</key>
				<string>借阅图书管理</string>
			</dict>
		</array>
		<key>name</key>
		<string>图书流通管理</string>
	</dict>
	<dict>
		<key>name</key>
		<string>信息审核管理</string>
		<key>child</key>
		<array>
			<dict>
				<key>name</key>
				<string>公告信息管理</string>
				<key>iconName</key>
				<string>gonggao</string>
			</dict>
			<dict>
				<key>iconName</key>
				<string>shequ</string>
				<key>name</key>
				<string>社区信息管理</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
